.about {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @include adaptive-value('padding-bottom', 150, 50, 1);

  @include adaptive-value('min-height', 920, 400, 1);

  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    background: linear-gradient(182.6deg, #FFFFFF 3.35%, rgba(255, 255, 255, 0.972235) 27.22%, rgba(255, 255, 255, 0) 65.79%);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 725px;
    background: linear-gradient(2.4deg, #000000 12.72%, rgba(0, 0, 0, 0.633721) 44.36%, rgba(0, 0, 0, 0) 70.61%);
  }
}

// .about__inner {}

.about__title {
  font-family: $roboto;
  position: absolute;
  top: 250px;
  @include adaptive-value('right', -70, 0, 1);
  font-weight: 900;
  @include adaptive-value('font-size', 200, 50, 1);
  line-height: 0.5;
  text-transform: uppercase;
  color: $black;
  text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  opacity: 0.14;

  @include _576 {
    position: relative;
  }
}

.about__img {
  @include adaptive-value('max-width', 800, 200, 1);
  position: absolute;
  top: 190px;
  right: -200px;

  @include _768 {
    display: none;
  }
}

.about__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 665px;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}

.about__info p {
  font-family: $montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: $white;
  margin-bottom: 32px;
}

.about__info blockquote {
  max-width: 350px;
}

.about__info blockquote p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: $gray;
  margin-bottom: 14px;
}

.about__info cite {
  display: inline-block;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
}

.about__info cite a {
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;

    width: 100%;
    height: 1px;

    background-color: $white;
  }
}
