<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="header__logo" href="#">
        <img class="header__logo-img" src="./img/logo.svg" alt="Site logo" width="167" height="37" aria-hidden="true">
      </a>

      <ul class="header__list">
        <li class="header__item">
          <a class="header__link link" href="#">
            Расписание тура
          </a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#">
            Как записаться
          </a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#">
            Команда
          </a>
        </li>
        <li class="header__item">
          <button class="header__popup button" type="button">
            Забронировать
          </button>
        </li>
      </ul>

      <button class="header__burger burger" type="button" aria-label="Мобильное меню">
        <span></span>
      </button>
    </nav>
  </div>
</header>
