<section class="hero">

  <div class="hero__slider swiper">
    <div class="hero__wrapper swiper-wrapper">
      <div class="hero__slide swiper-slide" style="background-image: url(./img/hero.jpg);">
        <div class="container">
          <div class="hero__slide-wrap">
            <h2 class="hero__title title title--lg" data-animate="bottom">
              Мечты о далекой Камчатке - близко
            </h2>
            <time class="hero__time" datetime="2022-07-23" data-animate="bottom">
              23.06 - 04.07 DREAM TOUR
            </time>
            <p class="hero__descr" data-animate="bottom">
              Тур перевернет ваш мир с ног на голову и оставит впечатления на всю жизнь.
            </p>
            <a class="hero__link link" href="#" data-animate="bottom">
              <span>Расписание тура</span>
              <svg class="hero__link-icon" width="64" height="64" viewBox="0 0 64 64" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="63" height="63" rx="31.5" stroke="white" />
                <g clip-path="url(#clip0_7837_53)">
                  <path
                    d="M32.6333 43.6911C32.6336 43.6908 32.6339 43.6905 32.6342 43.6902L37.5092 38.7916C37.8744 38.4246 37.8731 37.831 37.506 37.4657C37.1391 37.1005 36.5455 37.1019 36.1802 37.4689L32.9072 40.7578L32.9072 20.9035C32.9072 20.3858 32.4875 19.966 31.9697 19.966C31.4519 19.966 31.0322 20.3858 31.0322 20.9035L31.0322 40.7578L27.7592 37.4689C27.394 37.1019 26.8004 37.1005 26.4334 37.4658C26.0663 37.8311 26.0651 38.4247 26.4302 38.7916L31.3052 43.6903C31.3055 43.6905 31.3058 43.6908 31.3061 43.6911C31.6726 44.0583 32.2681 44.0571 32.6333 43.6911Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_7837_53">
                    <rect width="24" height="24" fill="white" transform="translate(15 32) rotate(-45.1148)" />
                  </clipPath>
                </defs>
              </svg>
            </a>

            <ul class="hero__list" data-animate="bottom">
              <li class="hero__item">
                <a class="hero__social" href="#">
                  <svg class="hero__icon">
                    <use xlink:href="./img/sprite.svg#Facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="hero__item">
                <a class="hero__social" href="#">
                  <svg class="hero__icon">
                    <use xlink:href="./img/sprite.svg#Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="hero__slide swiper-slide" style="background-image: url(./img/hero2.jpg);">
        <div class="container">
          <div class="hero__slide-wrap">
            <h2 class="hero__title title title--lg" data-animate="bottom">
              Мечты о далекой Камчатке - близко
            </h2>
            <time class="hero__time" datetime="2022-07-23" data-animate="bottom">
              23.06 - 04.07 DREAM TOUR
            </time>
            <p class="hero__descr" data-animate="bottom">
              Тур перевернет ваш мир с ног на голову и оставит впечатления на всю жизнь.
            </p>
            <a class="hero__link link" href="#" data-animate="bottom">
              <span>Расписание тура</span>
              <svg class="hero__link-icon" width="64" height="64" viewBox="0 0 64 64" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="63" height="63" rx="31.5" stroke="white" />
                <g clip-path="url(#clip0_7837_53)">
                  <path
                    d="M32.6333 43.6911C32.6336 43.6908 32.6339 43.6905 32.6342 43.6902L37.5092 38.7916C37.8744 38.4246 37.8731 37.831 37.506 37.4657C37.1391 37.1005 36.5455 37.1019 36.1802 37.4689L32.9072 40.7578L32.9072 20.9035C32.9072 20.3858 32.4875 19.966 31.9697 19.966C31.4519 19.966 31.0322 20.3858 31.0322 20.9035L31.0322 40.7578L27.7592 37.4689C27.394 37.1019 26.8004 37.1005 26.4334 37.4658C26.0663 37.8311 26.0651 38.4247 26.4302 38.7916L31.3052 43.6903C31.3055 43.6905 31.3058 43.6908 31.3061 43.6911C31.6726 44.0583 32.2681 44.0571 32.6333 43.6911Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_7837_53">
                    <rect width="24" height="24" fill="white" transform="translate(15 32) rotate(-45.1148)" />
                  </clipPath>
                </defs>
              </svg>
            </a>

            <ul class="hero__list" data-animate="bottom">
              <li class="hero__item">
                <a class="hero__social" href="#">
                  <svg class="hero__icon">
                    <use xlink:href="./img/sprite.svg#Facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="hero__item">
                <a class="hero__social" href="#">
                  <svg class="hero__icon">
                    <use xlink:href="./img/sprite.svg#Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="hero-img__slider swiper">
    <div class="hero-img__wrapper swiper-wrapper">
      <div class="hero-img__slide swiper-slide">
        <div class="hero-img__img">
          <img src="./img/hero-img.jpg" alt="Мужчина стоит около края скалы на фоне гор, любуется видами" width="270"
            height="268">
        </div>
        <h4 class="hero-img__title">Какая-то подпись</h4>
      </div>
      <div class="hero-img__slide swiper-slide">
        <div class="hero-img__img">
          <img src="./img/hero-img2.jpg" alt="Мужчина стоит около края скалы на фоне гор, любуется видами" width="270"
            height="268">
        </div>
        <h4 class="hero-img__title">Какая-то подпись</h4>
      </div>
      <div class="hero-img__slide swiper-slide">
        <div class="hero-img__img">
          <img src="./img/hero-img3.jpg" alt="Мужчина стоит около края скалы на фоне гор, любуется видами" width="270"
            height="268">
        </div>
        <h4 class="hero-img__title">Какая-то подпись</h4>
      </div>
      <div class="hero-img__slide swiper-slide">
        <div class="hero-img__img">
          <img src="./img/hero-img.jpg" alt="Мужчина стоит около края скалы на фоне гор, любуется видами" width="270"
            height="268">
        </div>
        <h4 class="hero-img__title">Какая-то подпись</h4>
      </div>
      <div class="hero-img__slide swiper-slide">
        <div class="hero-img__img">
          <img src="./img/hero-img2.jpg" alt="Мужчина стоит около края скалы на фоне гор, любуется видами" width="270"
            height="268">
        </div>
        <h4 class="hero-img__title">Какая-то подпись</h4>
      </div>
      <div class="hero-img__slide swiper-slide">
        <div class="hero-img__img">
          <img src="./img/hero-img3.jpg" alt="Мужчина стоит около края скалы на фоне гор, любуется видами" width="270"
            height="268">
        </div>
        <h4 class="hero-img__title">Какая-то подпись</h4>
      </div>
    </div>

    <div class="hero__navigation">
      <div class="hero-img__prev">
        <svg class="hero-img__icon hero-img__icon--prev" width="64" height="64" viewBox="0 0 64 64" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="63" height="63" rx="31.5" stroke="white" />
          <g clip-path="url(#clip0_7837_53)">
            <path
              d="M32.6333 43.6911C32.6336 43.6908 32.6339 43.6905 32.6342 43.6902L37.5092 38.7916C37.8744 38.4246 37.8731 37.831 37.506 37.4657C37.1391 37.1005 36.5455 37.1019 36.1802 37.4689L32.9072 40.7578L32.9072 20.9035C32.9072 20.3858 32.4875 19.966 31.9697 19.966C31.4519 19.966 31.0322 20.3858 31.0322 20.9035L31.0322 40.7578L27.7592 37.4689C27.394 37.1019 26.8004 37.1005 26.4334 37.4658C26.0663 37.8311 26.0651 38.4247 26.4302 38.7916L31.3052 43.6903C31.3055 43.6905 31.3058 43.6908 31.3061 43.6911C31.6726 44.0583 32.2681 44.0571 32.6333 43.6911Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_7837_53">
              <rect width="24" height="24" fill="white" transform="translate(15 32) rotate(-45.1148)" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero-img__next">
        <svg class="hero-img__icon hero-img__icon--next" width="64" height="64" viewBox="0 0 64 64" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="63" height="63" rx="31.5" stroke="white" />
          <g clip-path="url(#clip0_7837_53)">
            <path
              d="M32.6333 43.6911C32.6336 43.6908 32.6339 43.6905 32.6342 43.6902L37.5092 38.7916C37.8744 38.4246 37.8731 37.831 37.506 37.4657C37.1391 37.1005 36.5455 37.1019 36.1802 37.4689L32.9072 40.7578L32.9072 20.9035C32.9072 20.3858 32.4875 19.966 31.9697 19.966C31.4519 19.966 31.0322 20.3858 31.0322 20.9035L31.0322 40.7578L27.7592 37.4689C27.394 37.1019 26.8004 37.1005 26.4334 37.4658C26.0663 37.8311 26.0651 38.4247 26.4302 38.7916L31.3052 43.6903C31.3055 43.6905 31.3058 43.6908 31.3061 43.6911C31.6726 44.0583 32.2681 44.0571 32.6333 43.6911Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_7837_53">
              <rect width="24" height="24" fill="white" transform="translate(15 32) rotate(-45.1148)" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div> -->

</section>
