<section class="info">
  <div class="container">
    <div class="info__inner">

      <h2 class="info__title title title--md title--dark">
        Путешествие на край света начинается
      </h2>
      <h3 class="info__subtitle">
        Ваша мечта осуществилась, вы приняли решение, и вам предстоит путешествие на край света.
      </h3>
      <div class="info__descr">
        <p>
          Этот маршрут лучший вариант для тех, кто хочет ощутить, как живёт самая молодая земля нашей планеты, многое увидеть,
          испытать на себе и полюбить, увезти целый рюкзак незабываемых чувств и впечатлений. Каждый день вы будете выезжать на
          радиальные маршруты, а проживать в комфортабельных двухместных номерах.
        </p>
      </div>
      <ul class="info__list">
        <li class="info__item info__item--lvl">
          <h4 class="info__heading">
            Сложность
          </h4>
          <span class="info__props">
            Для семейного отдыха
          </span>
        </li>
        <li class="info__item info__item--period">
          <h4 class="info__heading">
            Период
          </h4>
          <span class="info__props">
            Июль - сентябрь
          </span>
        </li>
        <li class="info__item info__item--time">
          <h4 class="info__heading">
            Длительность
          </h4>
          <span class="info__props">
            7 дней / 6 ночей
          </span>
        </li>
        <li class="info__item info__item--residence">
          <h4 class="info__heading">
            Проживание
          </h4>
          <span class="info__props">
            Отель, без палаток
          </span>
        </li>
      </ul>

    </div>
  </div>
</section>
