// --- C O L O R S
$white: #fff;
$black: #000;
$black-900: #313131;
$black-800: #212121;
$green-900: #275553;
$orange: #f47648;
$gray: #dedede;

$time: 0.3s ease-in-out;

$radius: 5px;

// --- F O N T S
$lato: 'Lato', Arial, sans-serif;
$montserrat: 'Montserrat', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;

// --- C O N T A I N E R
$container: 1250px;

